.about{
    background: var(--white);
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 1200px;
}

.title{
    text-align: center;
    padding: 0;
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
    margin: 30px auto;
}

.avatar{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 15px;
    right: 0;
}

.info-box{
    padding: 0;
}

.content{
    top: 40px;
    position: relative;
    height: 154px;
    float: left;
    background: linear-gradient(100deg, var(--blue) , var(--light) 50%, var(--white));
}

.content-hy{
    margin: 30px 0 0 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: var(--black);
}
.content-name{ 
    
    margin: 0 4px;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    color: var(--black);
}
.content-job{
    position: absolute;
    z-index: 3;
    margin-left: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: var(--black);
}
.content-text{
    position: relative;
    text-align: center;
    margin: 60px auto;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 320px;
}

.content-text p{
    margin-bottom: 40px;
}

@media (min-width: 768px){

.avatar{

        width: 200px;
        height: 200px;
        right: 60px;
}

.content{

        height: 174px;   
}

.content-hy{

    margin: 30px 0 0 40px;
    font-size: 24px;
    line-height: 30px;
}
.content-name{ 
    
    margin: 0 40px;
    font-size: 26px;
    line-height: 60px;
}
.content-job{

    margin-left: 40px;
    font-size: 24px;
    line-height: 30px;
}

.content-text{

    margin: 60px auto;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    width: 600px;
}

}

@media (min-width: 992px){
    
.avatar{

    top: 6px;
    width: 240px;
    height: 240px;
    right: 80px;
}

.content{

    height: 206px;   
}

.content-hy{

margin: 40px 0 0 60px;
font-size: 28px;
line-height: 30px;
}
.content-name{ 

margin: 0 60px;
font-size: 30px;
line-height: 70px;
}
.content-job{

margin-left: 60px;
font-size: 28px;
line-height: 30px;
}

.content-text{

margin: 80px auto;
padding: 10px;
font-size: 20px;
line-height: 30px;
width: 700px;
}
}

@media (min-width: 1200px){ 
    
    .content-text{
        font-size: 28px;
        width: 1000px;
        }
}

@media (min-width: 1400px){

    .avatar{

        top: 6px;
        width: 300px;
        height: 300px;
        right: 200px;
    }
    
    .content{
        top: 42px;
        height: 266px;   
    }
    
    .content-hy{
    
        margin: 50px 0 0 60px;
        font-size: 38px;
        line-height: 30px;
    }
    .content-name{ 
    
        margin: 0 60px;
        font-size: 40px;
        line-height: 100px;
    }
    .content-job{
    
    margin-left: 60px;
    font-size: 38px;
    line-height: 30px;
    }
    
    .content-text{
    
    margin: 80px auto;
    padding: 10px;
    font-size: 24px;
    line-height: 48px;
    width: 1400px;
    }
}
