.contact{
    background: linear-gradient(180deg,var(--white),var(--light),var(--blue));
    position: relative;
    overflow: hidden;
    z-index: 0;
    max-height: 800px;
}

.input{
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.contact-name{
    height: 60px;
}

.contact-email{
    height: 60px;
}

.contact-text{
    height: 200px;
}

.contact-list{
    display: inline-flex;
}

.contact-element{
    margin: 0 auto;
    font-size: 30px;
}

.contact-logo{
    color: var(--white);
}

.send{
    font-size: 20px;
}