footer {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    min-width: 270px;
    max-width: 300px;
    margin-bottom: 20px;
    color: var(--white);
}